[submodule "LightNing/Vendor/spdlog"]
	path = LightNing/vendor/spdlog
	url = ../../gabime/spdlog

[submodule "LightNing/vendor/GLFW"]
	path = LightNing/vendor/GLFW
	url = https://github.com/TheCherno/glfw

[submodule "LightNing/vendor/glm"]
	path = LightNing/vendor/glm
	url = https://github.com/g-truc/glm
